@import '../../../../../assets/styles/variable';

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(93.7rem - #{$header-height});
  padding: 6.5rem 3rem 0 3rem;
  background-color: $color-banner;
  overflow: hidden;
  z-index: 0;

  &__h1 {
    color: $color-white;
    text-shadow: 1px 0 $color-gray-dark1, 1px 1px $color-gray-dark1, 1px -1px $color-gray-dark1,
      0 1px $color-gray-dark1, 0 -1px $color-gray-dark1, -1px 0 $color-gray-dark1, -1px 1px $color-gray-dark1;
    font-size: 4rem;
    font-family: 'GenSenRoundedH', sans-serif;
    transition: all .3s;

    &_big {
      font-size: 7rem;
      text-transform: uppercase;
    }

    &_absolute {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__h1-box {
    position: relative;
    margin-bottom: 1.5rem;
  }

  &__h1-box:hover &__h1_absolute {
    transform: translate(-48%, -56%);
  }

  &__h1-box:hover > &__h1:first-child {
    color: $color-banner;
  }

  &__title {
    margin-bottom: 1.5rem;
    border-radius: 5px;
    color: $color-gray-dark1;
    font-size: 3.2rem;
    transition: all .3s;
    letter-spacing: .5rem;
    z-index: 80;

    &_light {
      padding: .5rem;

      &:hover {
        background-color: $color-white;
      }
    }

    &_bold {
      font-size: 5.2rem;
      font-family: 'GenSenRoundedH', sans-serif;
    }
  }

  &__mark-title {
    font-size: 5.2rem;
    color: $color-black;
    text-transform: uppercase;

    &_web {
      position: absolute;
      top: 5rem;
      right: 3rem;
      z-index: 100;
    }

    &_front {
      position: absolute;
      bottom: 24rem;
      left: 12rem;
    }
  }

  &__news-ticker-box {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__ctn {
    &,
    &:link,
    &:visited {
        display: flex;
        position: absolute;
        left: 87.6rem;
        bottom: 23.8rem;
        display: flex;
        align-items: center;
        padding: 1rem;
        border: 2px solid transparent;
        border-radius: 2px;
        background-color: $color-white;
        font-size: 2rem;
        cursor: pointer;
        transition: all .3s;
    }

    &::after {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
      width: 105%;
      height: 120%;
      border: 1px solid $color-black;;
      border-radius: 2px;
      z-index: -1;
      background-color: $color-black;
      transition: all .3s;
    }

    &:hover {
      bottom: 25rem;
      left: 86.4rem;
      border: 2px solid $color-black;

      &::after {
        top: 75%;
        left: 55%;
        height: 110%;
        transition: all .3s;
      }
    }
  }

  &__ctn-text {
    height: 2rem;
    margin-right: .5rem;
    font-size: 2rem;
    font-family: 'GenSenRoundedH', sans-serif;
  }

  &__ctn-img {
    width: 2rem;
    height: 1.2rem;
  }

  &__star {
    width: 19.5rem;

    &_web {
      position: absolute;
      top: 3rem;
      right: 21.6rem;
      transform: rotate(27deg);
    }

    &_front {
      position: absolute;
      top: 26.6rem;
      left: 10rem;
    }
  }

  &__book {
    position: absolute;
    top: 32rem;
    left: 40rem;
    width: 35rem;
    height: 28.6rem;
    background-repeat: no-repeat;
    background-image: url('../../../../../assets/images/house.png');
    transition: all .3s;

    &:hover {
      width: 40rem;
      height: 31.6rem;
      background-image: url('../../../../../assets/images/house-hover.png');
    }
  }

  &__caterpillar {
    position: absolute;
    top: 40rem;
    right: 38rem;
    width: 27.5rem;
    height: 22.2rem;
    background-repeat: no-repeat;
    background-image: url('../../../../../assets/images/fly.png');
    transition: all .3s;

    &:hover {
      top: 35rem;
      right: 30rem;
      width: 42.5rem;
      height: 28.2rem;
      background-image: url('../../../../../assets/images/fly-hover.png');
    }
  }

  &__rectangle {
    position: absolute;
    top: 35%;
    right: -17rem;
    width: 32rem;
  }

  &__oval {
    width: 30.6rem;
    height: 14.4rem;
    border-radius: 50%;
    border: 2px solid transparent;

    &_green {
      position: absolute;
      top: 21rem;
      background-color: $color-green3;
      z-index: 40;
    }

    &_line {
      position: absolute;
      top: 29rem;
      background-color: transparent;
      border: 2px solid $color-black;
      z-index: 30;
    }
  }
}

.news-ticker {
  display: flex;
  align-items: center;
  overflow: hidden;

  &__text {
    margin-right: 3rem;
    font-size: 8rem;
    font-family: 'GenSenRoundedH', sans-serif;
    color: $color-white;
    letter-spacing: .3rem;
    text-transform: uppercase;

    &:not(last-child) {
      margin-right: 3rem;
    }

    &_move {
      animation: ticker-text-move 5s linear infinite;
    }
  }
}

@keyframes ticker-text-move {
  from { transform: translateX(0%) }
  to { transform: translateX(calc(-100% - 3rem)) }
}
