<div class="banner">
  <h1 class="banner__h1">4th</h1>
  <div class="banner__h1-box">
    <h1 class="banner__h1 banner__h1_big">thef2e</h1>
    <h1 class="banner__h1 banner__h1_big banner__h1_absolute">thef2e</h1>
  </div>
  <p class="banner__title banner__title_bold">互動式網頁設計</p>
  <p class="banner__title banner__title_light">前端 & UI 修煉精神時光屋</p>
  <p class="banner__mark-title banner__mark-title_web">web design</p>
  <img class="banner__star banner__star_web" src="../../../../../assets/images/star.png" alt="star">
  <img class="banner__star banner__star_front" src="../../../../../assets/images/star.png" alt="star">
  <p class="banner__mark-title banner__mark-title_front">front end</p>
  <a class="banner__ctn">
    <span class="banner__ctn-text">點擊立刻報名</span>
    <img class="banner__ctn-img" src="../../../../../assets/images/arrow.svg" alt="arrow">
  </a>
  <div class="banner__news-ticker-thef2e-box">
    <div class="news-ticker-thef2e">
      <p class="news-ticker-thef2e__text news-ticker-thef2e__text_move" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]">thef2e</p>
    </div>
  </div>
  <div class="banner__book"></div>
  <div class="banner__caterpillar"></div>
  <img src="../../../../../assets/images/banner-rectangle.png" alt="Rectangle" class="banner__rectangle">
  <div class="banner__oval banner__oval_green"></div>
  <div class="banner__oval banner__oval_line"></div>
</div>
