<div class="banner">
  <h1 class="banner__h1">4th</h1>
  <h1 class="banner__h1 banner__h1_big">thef2e</h1>
  <p class="banner__title">互動式網頁設計</p>
  <p class="banner__title banner__title_light">前端 & UI 修煉精神時光屋</p>
  <p class="banner__mark-title banner__mark-title_web">web design</p>
  <img class="banner__star banner__star_web" src="../../../../../assets/images/star.svg" alt="star">
  <img class="banner__star banner__star_front" src="../../../../../assets/images/star.svg" alt="star">
  <p class="banner__mark-title banner__mark-title_front">front end</p>
  <a class="banner__ctn"><span class="banner__ctn-text">點擊立刻報名</span><img class="banner__ctn-img" src="../../../../../assets/images/arrow.svg" alt="arrow"></a>
  <div class="banner__news-ticker-box">
    <div class="news-ticker">
      <p class="news-ticker__text news-ticker__text_move" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]">thef2e</p>
    </div>
  </div>
</div>
