<div class="sponsor" [class.sponsor_actice]="isScrollBottom">
  <div class="sponsor__title-box">
    <div class="sponsor__star">
      <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.2582 0L26.836 15.3281L42.1295 21L26.7663 26.6719L21.0001 42L15.4223 26.6719L0.128747 21L15.492 15.3281L21.2582 0Z" fill="black"/>
      </svg>
    </div>
    <p class="sponsor__title">本次活動贊助單位</p>
    <div class="sponsor__star">
      <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.2582 0L26.836 15.3281L42.1295 21L26.7663 26.6719L21.0001 42L15.4223 26.6719L0.128747 21L15.492 15.3281L21.2582 0Z" fill="black"/>
      </svg>
    </div>
  </div>
  <div class="sponsor__container">
    <div class="sponsor__item" [class.sponsor__item_hidden1]="!isScrollBottom">
      <img class="sponsor__img" src="../../../../../assets/images/sponsor-1.png" alt="" srcset="">
    </div>
    <div class="sponsor__item" [class.sponsor__item_hidden2]="!isScrollBottom">
      <img class="sponsor__img" src="../../../../../assets/images/sponsor-2.png" alt="" srcset="">
    </div>
    <div class="sponsor__item" [class.sponsor__item_hidden3]="!isScrollBottom">
      <img class="sponsor__img" src="../../../../../assets/images/sponsor-3.png" alt="" srcset="">
    </div>
  </div>
</div>
