@import '../../../../../assets/styles/variable';
@import '../../../../../assets/styles/mixin';

.sponsor {
  width: 100%;
  background-color: $color-orange3;
  overflow: hidden;
  transition: all .5s;

  &_actice {
    background-color: $color-orange1;
  }

  &__title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 6rem;
    margin-top: 14.2rem;
  }

  &__title {
    text-align: center;
    @include white-bold-text(5.2rem);
    color: $color-orange1;
  }

  &__star svg path {
    fill: $color-yellow1 !important;
  }

  &_actice &__title-box &__title {
    color: $color-white;
  }

  &_actice &__title-box &__star svg path {
    fill: $color-white !important;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 59rem;
    padding: 0 10.93%;
    margin-top: 14.6rem;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26%;
    padding: 5rem;
    height: fit-content;
    border-radius: 5rem;
    background-color: $color-white;
    transition: all .3s;

    &_hidden1 {
      transform: translateX(-300%);
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
    }

    &_hidden2 {
      transform: translateY(300%);
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
    }

    &_hidden3 {
      transform: translateX(300%);
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
    }
  }

  &__img {
    width: 100%;
  }
}
