@import '../../../assets/styles/variable';

.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: $header-height;
  padding: 0 3rem;
  border-bottom: 1px solid $color-black;

  &__title {
    flex: 1;
    color: $color-green1;
    font-size: 3.2rem;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.nav {
  display: flex;
  align-items: center;

  &__item {
    padding: 1rem;
    margin: 0 .8rem;
    color: $color-green1;
    font-size: 1.6rem;
    font-weight: 900;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      opacity: .8;
    }

    &_main {
      border-radius: 3px;
      color: $color-white;
      background-color: $color-green1;
    }
  }
}
