<div class="awards">
  <div class="awards__ticker-box">
    <div class="news-ticker-awards">
      <p class="news-ticker-awards__text news-ticker-awards__text_green news-ticker-awards__text_move" *ngFor="let item of [1, 2, 3]">區區修煉已經無法滿足了嗎？還有比賽等著你！</p>
    </div>
  </div>
  <div class="info-box">
    <div class="info-box__header">
      <i class="info-box__circle"></i>
    </div>
    <div class="info-box__container info-box__container_left">
      <div class="text-box">
        <div class="text-box__title">評審機制</div>
        <ol class="text-box__li-box">
          <li>
            初選
            <ul class="text-box__sub-ul">
              <li>將由六角學院前端、UI 評審進行第一波篩選。</li>
            </ul>
          </li>
          <li>
            決選
            <ul class="text-box__sub-ul">
              <li>由六角學院與贊助廠商討論，進行最後篩選，並於 12/30(五) 由評審進行直播公布名單！</li>
            </ul>
          </li>
        </ol>
      </div>
    </div>
  </div>
  <div class="info-box">
    <div class="info-box__header">
      <i class="info-box__circle"></i>
    </div>
    <div class="info-box__container info-box__container_right">
      <div class="text-box">
        <div class="text-box__title">比賽獎項</div>
        <ul class="text-box__li-box text-box__li-box_ul">
          <li class="text-box__li">初選佳作 共六十位 數位獎狀</li>
          <li class="text-box__li">人企業獎 共六位 NTD 3,000/位</li>
          <li class="text-box__li">團體企業獎 共三組 NTD 10,000/組</li>
          <li class="text-box__li">以上皆提供完賽數位獎狀</li>
        </ul>
      </div>
    </div>
  </div>
</div>
