<div class="activity-info">
  <img class="activity-info__white-line activity-info__white-line_1" src="../../../../../assets/images/whiteline1.png" alt="white-line1" srcset="">
  <div class="info-box info-box_1">
    <p class="info-box__title">報名時間</p>
    <p class="info-box__title info-box__title_sub">Sign up</p>
    <p class="info-box__text">
      開放報名<br/>
      10/13(四) 早上 11:00 - 11/6(日) 晚上 23:59
    </p>
  </div>
  <img class="activity-info__white-line activity-info__white-line_2" src="../../../../../assets/images/whiteline2.png" alt="white-line2" srcset="">
  <div class="info-box info-box_2">
    <p class="info-box__title">比賽開始</p>
    <p class="info-box__title info-box__title_sub">Start</p>
    <p class="info-box__text">
      各組別開賽<br/>
      10/31(一) UI組、團體組開賽<br/>
      11/7 (一）前端組開賽
    </p>
  </div>
  <img class="activity-info__white-line activity-info__white-line_3" src="../../../../../assets/images/whiteline3.png" alt="white-line3" srcset="">
  <div class="info-box info-box_3">
    <p class="info-box__title">登陸作品</p>
    <p class="info-box__title info-box__title_sub">Upload</p>
    <p class="info-box__text">
      10/31(一) 中午 12:00 - <br/>
      11/28(一) 中午 12:00
    </p>
  </div>
  <img class="activity-info__white-line activity-info__white-line_4" src="../../../../../assets/images/whiteline4.png" alt="white-line4" srcset="">
  <div class="info-box info-box_4">
    <p class="info-box__title">線上直播</p>
    <p class="info-box__title info-box__title_sub">Stream</p>
    <p class="info-box__text">
      11/3 - 11/24（每週四）
    </p>
  </div>
  <div class="green-face">
    <i class="green-face__eye green-face__eye_1"></i>
    <i class="green-face__eye green-face__eye_2"></i>
    <img class="green-face__mouth" src="../../../../../assets/images/green-face-mouth.png" alt="mouth">
  </div>
  <div class="green-face green-face_bottom">
    <p class="green-face__text green-face__text_1">挑</p>
    <p class="green-face__text green-face__text_2">戰</p>
    <p class="green-face__text green-face__text_3">流</p>
    <p class="green-face__text green-face__text_4">程</p>
  </div>
  <img class="activity-info__green-snow" src="../../../../../assets/images/green-snow.png" alt="green-snow" srcset="">
  <img class="activity-info__star activity-info__star_1" src="../../../../../assets/images/star.png" alt="star" srcset="">
  <img class="activity-info__star activity-info__star_2" src="../../../../../assets/images/star.png" alt="star" srcset="">
</div>
