@import '../../../../../assets/styles/variable';
// @import '../../../../../assets/styles/mixin';

.race-info {
  width: 100%;
  height: 103rem;
  padding: 11rem 9.6rem;
  background: $color-orange3;
  overflow: hidden;
}

.week-box {
  display: flex;
  align-items: center;
  width: 100%;
  height: 39rem;
  margin-bottom: 6rem;
  border-top: 1px solid $color-black;
  border-bottom: 1px solid $color-black;
}

.text-box {
  display: flex;
  width: 213.1rem;
  transition: all 2s;

  &_1-active {
    transform: translate(calc(52.3rem - ((192rem - 100vw) / 2)));
  }

  &_2-active {
    transform: translate(calc(-42.7rem - ((192rem - 100vw) / 4)));
  }

  &_3-active {
    transform: translate(-137.7rem);
  }

  &__text {
    margin-right: 28rem;
    margin-right: calc(28rem - ((192rem - 100vw) / 4));
    color: $color-gray-dark2;
    font-size: 20.2rem;
    letter-spacing: .6rem;
    transition: all .3s;
  }

  &_1-active &__text_1 {
    color: $color-yellow1;
  }

  &_2-active &__text_2 {
    color: $color-orange1;
  }

  &_3-active &__text_3 {
    color: $color-green1;
  }
}

.race-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 102rem;
  margin: 0 auto;

  &__title {
    width: 100%;
    text-align: center;
    font-size: 8rem;
    margin-bottom: 7.5rem;
  }

  &__sub-box {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 2.4rem;
  }

  &__text {
    margin-bottom: 1rem;
    color: $color-gray-dark1;
    font-size: 3.2rem;
    transition: all .3s;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }

    &_1 {
      color: $color-yellow1;
    }

    &_2 {
      color: $color-orange1;
    }

    &_3 {
      color: $color-green1;
    }
  }
}

.ctn {
  &,
  &:link,
  &:visited {
      display: flex;
      position: relative;
      display: flex;
      align-items: center;
      padding: 1rem;
      margin-top: 2.5rem;
      border: 2px solid $color-black;
      border-radius: 2px;
      background-color: $color-white;
      font-size: 2rem;
      cursor: pointer;
      transition: all .3s;
  }

  &:hover {
    animation: ctn-hover 1s linear infinite;
  }

  &__text {
    height: 2rem;
    margin-right: .5rem;
    font-size: 2rem;
    font-family: 'GenSenRoundedH', sans-serif;
  }

  &__img {
    width: 2rem;
    height: 1.2rem;
  }
}

@keyframes ctn-hover {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: .7;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
