<div class="race-info" (click)="test()">
  <div class="week-box">
    <div class="week-box__star week-box__star_1">
      <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.2582 0L26.836 15.3281L42.1295 21L26.7663 26.6719L21.0001 42L15.4223 26.6719L0.128747 21L15.492 15.3281L21.2582 0Z" fill="black"/>
      </svg>
    </div>
    <div class="week-box__star week-box__star_2">
      <svg width="43" height="42" viewBox="0 0 43 42" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M21.2582 0L26.836 15.3281L42.1295 21L26.7663 26.6719L21.0001 42L15.4223 26.6719L0.128747 21L15.492 15.3281L21.2582 0Z" fill="black"/>
      </svg>
    </div>
    <div class="text-box text-box_{{activeNumber}}-active">
      <p class="text-box__text text-box__text_1">Week1</p>
      <p class="text-box__text text-box__text_2">Week2</p>
      <p class="text-box__text text-box__text_3">Week3</p>
    </div>
  </div>
  <div class="race-box" *ngIf="activeNumber === 1">
    <p class="race-box__title">/ The F2E 活動網站設計 /</p>
    <div class="race-box__sub-box">
      <p class="race-box__text race-box__text_1">#視差滾動</p>
      <p class="race-box__text race-box__text_1">#版塊設計</p>
    </div>
    <p class="race-box__text">各組別投稿時間</p>
    <p class="race-box__text">UI 組投稿區間：10/31(一) 12:00 PM ~ 11/7(一) 12:00 PM</p>
    <p class="race-box__text">前端組投稿區間：11/7(一) 12:00 PM ~ 11/14(一) 12:00 PM</p>
    <a class="ctn">
      <span class="ctn__text">點擊立刻報名</span>
      <img class="ctn__img" src="../../../../../assets/images/arrow.svg" alt="arrow">
    </a>
  </div>
  <div class="race-box" *ngIf="activeNumber === 2">
    <p class="race-box__title">/ 今晚，我想來點點簽 /</p>
    <div class="race-box__sub-box">
      <p class="race-box__text race-box__text_2">#Canvas</p>
      <p class="race-box__text race-box__text_2">#凱鈿行動科技</p>
    </div>
    <p class="race-box__text">各組別投稿時間</p>
    <p class="race-box__text">UI 組投稿區間：11/7(一) 12:00 PM ~ 11/14(一) 12:00 PM</p>
    <p class="race-box__text">前端組投稿區間：11/14(一) 12:00 PM ~ 11/21(一) 12:00 PM</p>
    <a class="ctn">
      <span class="ctn__text">點擊立刻報名</span>
      <img class="ctn__img" src="../../../../../assets/images/arrow.svg" alt="arrow">
    </a>
  </div>
  <div class="race-box" *ngIf="activeNumber === 3">
    <p class="race-box__title">/ Scrum 新手村 /</p>
    <div class="race-box__sub-box">
      <p class="race-box__text race-box__text_3">#JS draggable</p>
      <p class="race-box__text race-box__text_3">#鈦坦科技</p>
    </div>
    <p class="race-box__text">各組別投稿時間</p>
    <p class="race-box__text">UI 組投稿區間：11/14(一) 12:00 PM ~ 11/21(一) 12:00 PM</p>
    <p class="race-box__text">前端組投稿區間：11/21(一) 12:00 PM ~ 11/28(一) 12:00 PM</p>
    <a class="ctn">
      <span class="ctn__text">點擊立刻報名</span>
      <img class="ctn__img" src="../../../../../assets/images/arrow.svg" alt="arrow">
    </a>
  </div>
</div>
