@import './variable';
@import './mixin';

// 跑馬燈區塊
//THEF2E
.news-ticker-thef2e {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 100;

  &__text {
    margin-right: 3rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    white-space: nowrap;
    @include white-bold-text(8rem);

    &:not(last-child) {
      margin-right: 3rem;
    }

    &_green {
      color: $color-green3;
      text-shadow: 1px 0 $color-white, 1px 1px $color-white, 1px -1px $color-white,
        0 1px $color-white, 0 -1px $color-white, -1px 0 $color-white, -1px 1px $color-white;
    }

    &_move {
      animation: f2e-ticker-text-move 5s linear infinite;
    }
  }
}

@keyframes f2e-ticker-text-move {
  from { transform: translateX(0%) }
  to { transform: translateX(calc(-200% - 6rem)) }
}

// 區區修煉已經無法滿足了嗎？還有比賽等著你！
.news-ticker-awards {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 100;

  &__text {
    @include white-bold-text(12rem);
    margin-right: 3rem;
    letter-spacing: .3rem;
    text-transform: uppercase;
    white-space: nowrap;

    &:not(last-child) {
      margin-right: 3rem;
    }

    &_green {
      color: $color-green1;
    }

    &_move {
      animation: awards-ticker-text-move 30s linear infinite;
    }
  }
}

@keyframes awards-ticker-text-move {
  from { transform: translateX(0%) }
  to { transform: translateX(calc(-200% - 6rem)) }
}
