<div class="problem">
  <div class="problem__header"></div>
  <div class="problem__container">
    <div class="pointer-box">
      <div class="pointer-box__container">
        <i class="pointer-box__pointer" [class.pointer-box__pointer_online]="activeNumber > 0"></i>
        <i class="pointer-box__pointer" [class.pointer-box__pointer_online]="activeNumber > 1"></i>
        <i class="pointer-box__pointer" [class.pointer-box__pointer_online]="activeNumber > 2"></i>
      </div>
    </div>
    <div class="problem-box">
      <div class="problem-box__container" [class.u-hidden]="activeNumber <= 1">
        <div class="problem-card problem-card_end">
          <p class="problem-card__text">“滿足不了同事的許願？”</p>
        </div>
      </div>
      <div class="problem-box__container" [class.u-hidden]="activeNumber <= 0">
        <div class="problem-card problem-card_center">
          <p class="problem-card__text">“羨慕別人的酷酷網頁動畫？”</p>
        </div>
      </div>
      <div class="problem-box__container" [class.u-hidden]="activeNumber <= 2">
        <div class="problem-card">
          <p class="problem-card__text">“動畫技能樹太雜無從下手？”</p>
        </div>
      </div>
    </div>
  </div>
  <p class="problem__text problem__text_1" [class.u-hidden]="activeNumber <= 1">？</p>
  <p class="problem__text problem__text_2" [class.u-hidden]="activeNumber <= 2">？</p>
  <p class="problem__text problem__text_3" [class.u-hidden]="activeNumber <= 0">？</p>
  <img class="problem__logo" src="../../../../../assets/images/illu.png" alt="illu">
  <div class="problem__footer"></div>
</div>
