@import '../../../../../assets/styles/variable';
@import '../../../../../assets/styles/mixin';
@import '../../../../../assets/styles/utilities';

.problem {
  position: relative;
  width: 100%;

  &__header, &__footer {
    width: 100%;
    height: 8rem;
    background-color: $color-yellow2;
  }

  &__container {
    min-height: 78rem;
    height: calc(100vh - 16rem);

    @media only screen and (max-width:48em) {
      height: auto;
      // background-color: $color-orange3;
    }
  }

  &__box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: absolute;
    bottom: 13rem;
    right: 1.8rem;
    width: 28rem;
    height: 24rem;

    @media only screen and (max-width:48em) {
      position: relative;
      right: unset;
      bottom: unset;

      &_abs {
        display: none;
      }
    }
  }

  &__logo {
    width: 23rem;

    @media only screen and (max-width:48em) {
      width: 18rem;
    }
  }

  &__text {
    position: absolute;
    font-family: 'GenSenRoundedH', sans-serif;
    font-size: 8rem;
    color: $color-green1;
    transition: all .3s;

    &_1 {
      right: 15.3rem;
      bottom: 14.8rem;
      transform: rotate(-4.49deg);
    }

    &_2 {
      right: 9rem;
      bottom: 14.6rem;
      transform: rotate(8.58deg);
    }

    &_3 {
      right: 3.7rem;
      bottom: 12.3rem;
      transform: rotate(32.45deg);
    }

    @media only screen and (max-width:48em) {
      font-size: 6rem;

      &_1 {
        right: 15.3rem;
        bottom: 10.8rem;
      }

      &_2 {
        right: 11rem;
        bottom: 10.6rem;
      }

      &_3 {
        right: 6.7rem;
        bottom: 9.3rem;
      }
    }

    @media only screen and (max-width:20em) {
      &_1 {
        right: 10.3rem;
        bottom: 10.8rem;
        transform: rotate(-4.49deg);
      }

      &_2 {
        right: 6rem;
        bottom: 10.6rem;
        transform: rotate(8.58deg);
      }

      &_3 {
        right: 2.7rem;
        bottom: 9.3rem;
        transform: rotate(32.45deg);
      }
    }
  }
}

.pointer-box {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 15rem;

  @media only screen and (max-width:48em) {
    margin-bottom: 3.5rem;
  }

  &__container {
    width: 40rem;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width:48em) {
      width: 24rem;
      justify-content: space-around;
    }
  }

  &__pointer {
    display: block;
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: $color-gray-light1;
    transition: all .3s;

    &_online {
      background-color: $color-yellow1;
    }

    @media only screen and (max-width:48em) {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
}

.problem-box {
  display: flex;
  height: calc(100% - 15rem);

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    padding: 0 1rem 11.5rem 2rem;
    transition: all .3s;
    // padding-bottom: 11.5rem;


    &_icn {
      display: none;
    }

    @media only screen and (max-width:48em) {
      flex: 0;
      padding: 0 1rem 5.7rem 2rem;

      &:nth-child(1) {
        order: 3;
      }

      &:nth-child(2) {
        order: 2;
      }

      &:nth-child(3) {
        order: 1;
      }

      &:nth-child(4) {
        margin-top: -5rem;
        order: 4;
      }

      &_icn {
        display: flex;
        align-items: center;
      }
    }
  }

  @media only screen and (max-width:48em) {
    flex-direction: column;
  }
}

.problem-card {
  position: relative;
  width: 88%;
  max-width: 47.6rem;
  min-height: 15.2rem;
  padding: 2.4rem;
  margin: 0 auto;
  border-radius: 2rem;
  background-color: $color-green1;

  @media only screen and (max-width:48em) {
    max-width: 35rem;
    min-height: 6rem;
  }

  &_center {
    align-self: center;
    background-color: $color-orange1;
  }

  &_end {
    align-self: end;
    background-color: $color-yellow1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 2.2rem;
    left: 3rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    background-color: $color-green3;
    z-index: -1;

    @media only screen and (max-width:80em) {
      left: 2rem;
    }
  }

  &_center::after {
    background-color: $color-orange2;
  }

  &_end::after {
    background-color: $color-yellow2;
  }

  &__text {
    text-align: center;
    @include white-bold-text(5.2rem);

    @media only screen and (max-width:80em) {
      @include white-bold-text(3.8rem);
    }

    @media only screen and (max-width:25em) {
      @include white-bold-text(1.6rem);
    }
  }
}
