$color-black: #000;
$color-gray-dark1: #2D2D2D;
$color-gray-dark2: #4B4B4B;
$color-gray-light1: #ececec;
$color-white: #fff;
$color-green1: #4E7B57;
$color-green2: #69A575;
$color-green3: #A9C1AE;
$color-orange1: #CFA575;
$color-orange2: #DFC5A7;
$color-orange3: #F1EDE9;
$color-yellow1: #D2C67A;
$color-yellow2: #EFE5A4;


$header-height: 8rem;
