@import '../../../../../assets/styles/variable';
@import '../../../../../assets/styles/mixin';
@import '../../../../../assets/styles/components';

.solution {
  position: relative;
  width: 100%;
  height: 208.3rem;
  background: $color-green3;
  overflow: hidden;

  &__header {
    position: absolute;
    top: 0;
    width: 100%;
  }

  &__footer {
    position: absolute;
    bottom: 0;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 10.9rem;
  left: 50%;
  transform: translateX(-50%);
  width: 179rem;
  height: 179rem;
  border-radius: 50%;
  background-color: $color-orange3;
  z-index: 200;

  &__title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 19.5rem;
    margin-bottom: 10rem;
    font-size: 8rem;
    font-family: 'GenSenRoundedH', sans-serif;
    letter-spacing: 1.5rem;
    color: $color-gray-dark2;
  }

  &__background {
    width: 91.1rem;

    &:nth-child(2) {
      margin-top: -5rem;
    }
  }

  &__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
}

.sub-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 90.9rem;
  left: 50%;
  transform: translateX(-50%);
  width: 149.1rem;
  height: 149.1rem;
  border-radius: 50%;
  background-color: $color-orange1;
  z-index: 300;

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 14rem;
    z-index: 50;
  }

  &__star {
    position: absolute;
    top: 18.3rem;
    left: -5rem;
    width: 16.5rem;
    transform: rotate(-5deg);
  }

  &__title {
    height: 10rem;
    padding: 1rem;
    z-index: 100;

    @include white-bold-text(8rem);

    &_first {
      margin-top: 21.8rem;
      margin-bottom: .8rem;
    }

    &_bg-black {
      background-color: $color-gray-dark2;
    }
  }

  &__text {
    margin-bottom: 1.5rem;
    font-size: 4rem;
    font-family: 'GenSenRoundedH', sans-serif;
    color: $color-white;
  }
}

.u-margin-top-3p6 {
  margin-top: 3.6rem !important;
}

$content-main-item-height: 10.6rem;

// 補字型
.content-main {
  display: grid;
  grid-template-columns: 66rem 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "item1 item2"
    "item3 item3";
  row-gap: 3rem;
  column-gap: 2.8rem;
  width: 105.4rem;
  height: calc(#{$content-main-item-height} * 3);
  font-size: 4rem;

  &__item1 {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    grid-area: item1;
  }

  &__item2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: item2;
  }

  &__item3 {
    display: flex;
    align-items: start;
    justify-content: flex-end;
    grid-area: item3;
  }

  &__code {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3.5rem;
    letter-spacing: 0.35rem
  }

  &__job-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2.4rem;
    border: 2px solid $color-black;
    border-radius: 10rem;
    background-color: $color-white;

    &_big {
      font-size: 4.8rem;
    }
  }

  &__line-box {
    display: flex;
    align-items: center;
    margin-left: 3.6rem;
  }

  &__circle {
    width: 4.7rem;
    height: 4.7rem;
    border-radius: 50%;
    background-color: $color-black;
  }

  &__line {
    width: 25.9rem;
    height: 4px;
    background-color: $color-black;
  }

  &__img1 {
    width: 19.1rem;
  }

  &__img2 {
    width: 9.4rem;
    margin-right: 3.6rem;
  }
}

.green-img {
  width: 29.7rem;

  &_main {
    position: absolute;
    top: 64rem;
    left: 17.6rem;
  }

  &_sub {
    position: absolute;
    top: 48.2rem;
    right: 20.7rem;
  }
}
