<div class="solution">
  <div class="solution__header">
    <div class="news-ticker-thef2e">
      <p class="news-ticker-thef2e__text news-ticker-thef2e__text_move" [class.news-ticker-thef2e__text_green]="isOdd" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]; let isOdd = odd;">thef2e</p>
    </div>
    <div class="news-ticker-thef2e">
      <p class="news-ticker-thef2e__text news-ticker-thef2e__text_move" [class.news-ticker-thef2e__text_green]="isEven" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]; let isEven = even;">thef2e</p>
    </div>
    <div class="news-ticker-thef2e">
      <p class="news-ticker-thef2e__text news-ticker-thef2e__text_move" [class.news-ticker-thef2e__text_green]="isOdd" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]; let isOdd = odd;">thef2e</p>
    </div>
  </div>
  <div class="content" [class.u-hidden]="!isContentShow">
    <div class="content__title-box" [class.u-hidden]="!isContentTitleShow">
      <img class="content__background" src="../../../../../assets/images/solution-content-background.png" alt="content background" srcset="">
      <img class="content__background" src="../../../../../assets/images/solution-content-background.png" alt="content background" srcset="">
      <p class="content__title">互動式網頁設計</p>
    </div>
    <div class="content-main" [class.u-hidden]="!isContentTextShow">
      <div class="content-main__item1">
        <p class="content-main__code">&lt;hello-world/&gt;</p>
        <p class="content-main__job-text">UI設計師</p>
        <p class="content-main__job-text">前端工程師</p>
        <div class="content-main__line-box">
          <div class="content-main__circle"></div>
          <div class="content-main__line"></div>
          <div class="content-main__circle"></div>
        </div>
      </div>
      <div class="content-main__item2">
        <img class="content-main__img1" src="../../../../../assets/images/solution-trhee-circle.png" alt="three circle img" srcset="">
        <img class="content-main__img2" src="../../../../../assets/images/solution-vector.png" alt="vector img" srcset="">
      </div>
      <div class="content-main__item3">
        <p class="content-main__job-text content-main__job-text_big">Build Good Products Together</p>
      </div>
    </div>
    <img class="green-img green-img_main" src="../../../../../assets/images/green-snow.png" alt="">
  </div>
  <div class="sub-content" [class.u-hidden]="!isSubContentShow">
    <div class="sub-content__box">
      <p class="sub-content__title sub-content__title_first" [class.u-hidden]="!isSubContentTitleShow">年度最強合作</p>
      <p class="sub-content__title sub-content__title_bg-black" [class.u-hidden]="!isSubContentTextShow">三大主題來襲</p>
      <p class="sub-content__text u-margin-top-3p6" [class.u-hidden]="!isSubContentText2Show">各路廠商強強聯手！</p>
      <p class="sub-content__text" [class.u-hidden]="!isSubContentText2Show">共同設計出接地氣的網頁互動挑戰關卡</p>
      <img class="sub-content__star" src="../../../../../assets/images/star.png" alt="star">
    </div>
    <img class="green-img green-img_sub" src="../../../../../assets/images/green-snow.png" alt="">
  </div>
  <div class="solution__footer">
    <div class="news-ticker-thef2e">
      <p class="news-ticker-thef2e__text news-ticker-thef2e__text_move" [class.news-ticker-thef2e__text_green]="isOdd" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]; let isOdd = odd;">thef2e</p>
    </div>
    <div class="news-ticker-thef2e">
      <p class="news-ticker-thef2e__text news-ticker-thef2e__text_move" [class.news-ticker-thef2e__text_green]="isEven" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]; let isEven = even;">thef2e</p>
    </div>
    <div class="news-ticker-thef2e">
      <p class="news-ticker-thef2e__text news-ticker-thef2e__text_move" [class.news-ticker-thef2e__text_green]="isOdd" *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]; let isOdd = odd;">thef2e</p>
    </div>
  </div>
</div>
